.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5pc;
    z-index: 1;
}

.header a{
    /* color: #fff; */
    font-weight: 700;
}

.header a:hover{
    color: #E3963E;
}