
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: #fff;
}

.App a {
  text-decoration: none;
  color: inherit;
}

#dark-mode {
  position: absolute;
  z-index: 3;
  top: 0%;
  right: 2%;
  margin: 1.5pc;
  cursor: pointer;
}
.toggle-animation {
  animation-name: toggle-animation;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.27, 0.02, 0.6, 0.54);
  animation-iteration-count: 1;
}

@keyframes toggle-animation {
  from {
    transform: rotate(0deg);
    opacity: 80%;
  }
  to {
    transform: rotate(360deg);
    opacity: 20%;
  }
}

.material-symbols-outlined-moon {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}